*.swp
class_files.txt
seeds.txt
unused.txt
bin
gen
obj
buck-out
.settings
.buckd
.directory
lint.xml
*.so
/keystore/publish.keystore
/keystore/publish.keystore.properties
*.dex.jar
gradle
gradlew
gradlew.bat
.gradle
build
.project
.classpath
.settings